* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #eee;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-flow: column;
  padding: 3.2rem 5.2rem 3.2rem 3.2rem;
}

.margin-bottom-sm {
  margin-bottom: 2.4rem;
}

.panel-container {
  display: flex;
  flex: 1;
  max-width: 55%;
}

.first-container {
  background-color: hsl(31, 77%, 52%);
}

.second-container {
  background-color: hsl(184, 100%, 22%);
}

.third-container {
  background-color: hsl(179, 100%, 13%);
}

.icon {
  width: 6.4rem;
  height: 4rem;
}

h1 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 8.4rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  font-size: 1.2rem;
  padding: 1.6rem 1rem;
  border-radius: 24px;
  text-decoration: none;
  transition: all 0.2s;
  background-color: hsl(0, 0%, 95%);
}

.first-container .btn {
  color: hsl(31, 77%, 52%);
}

.first-container .btn:hover,
.btn:active {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  box-shadow: inset 0 0 0 3px hsl(0, 0%, 95%);
}

.second-container .btn {
  color: hsl(184, 100%, 22%);
}

.second-container .btn:hover,
.btn:active {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  box-shadow: inset 0 0 0 3px hsl(0, 0%, 95%);
}

.third-container .btn {
  color: hsl(179, 100%, 13%);
}

.third-container .btn:hover,
.btn:active {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  box-shadow: inset 0 0 0 3px hsl(0, 0%, 95%);
}

@media (max-width: 24em) {
  html {
    font-size: 50%;
  }

  .panel-container {
    flex-flow: column;
  }
}
