* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", system-ui;
  color: #555;
  background-color: hsl(217, 54%, 11%);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-flow: column;
  gap: 1.2rem;
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  border-radius: 9px;
  width: 35rem;
  /* height: 57rem; */
  padding: 1.8rem 1.8rem 2rem 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.1);
}

/* Active image status 1.0  */

/* .img-container {
  height: 31.4rem;
  width: 31.4rem;
  border-radius: 9px;
  background-image: url(images/image-equilibrium.jpg);
  background-size: cover;
  background-position: center;
}

.img-container:hover {
  background-image: url(images/image-equilibrium.jpg),
    linear-gradient(hsla(178, 100%, 50%, 0.5));
} */

/* Active image status 2.0  */

.img-container {
  position: relative;
}

.img {
  width: 100%;
  border-radius: 9px;
}

/* .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(178, 100%, 50%, 0.1);
  z-index: 9999;
  border-radius: 9px;
} */

/* .img:hover + .overlay {
  background-color: hsla(178, 100%, 50%, 0.5);
} */

.heading {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 1.2rem;
  transition: all 0.3s;
  cursor: pointer;
}

.heading:hover {
  color: hsla(178, 100%, 50%);
}

.paragraph {
  color: hsl(215, 51%, 70%);
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.desc-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}

.eth-text {
  margin-right: auto;
  color: hsl(178, 100%, 50%);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 0.8rem;
}

.days-text {
  color: hsl(215, 51%, 70%);
  font-size: 1.4rem;
  margin-left: 0.8rem;
}

.auth-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.auth-img {
  width: 15%;
  border: 1px solid #fff;
  border-radius: 50%;
}

.auth-text {
  color: hsl(215, 51%, 70%);
  font-size: 1.4rem;
}

.auth-span {
  color: #fff;
  font-size: 1.4rem;
  transition: all 0.3s;
  cursor: pointer;
}

.auth-span:hover {
  color: hsla(178, 100%, 50%);
}

@media (max-width: 24em) {
  html {
    font-size: 50%;
  }

  .container {
    width: 30rem;
  }
}
