* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", system-ui;
  color: #555;
  background-color: hsl(217, 54%, 11%);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-flow: column;
  gap: 1.2rem;
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  border-radius: 9px;
  width: 35rem;
  height: 57rem;
  padding: 1.8rem;
}

/* 
.img-container {
  height: 25rem;
  width: 25rem;
  border-radius: 9px;
  background-image: url(images/image-equilibrium.jpg);
  background-size: cover;
  background-position: center;
} */

.img {
  width: 100%;
}

.heading {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 1.2rem;
}

.paragraph {
  color: hsl(215, 51%, 70%);
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.desc-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}

.eth-text {
  margin-right: auto;
  color: hsl(178, 100%, 50%);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 0.8rem;
}

.days-text {
  color: hsl(215, 51%, 70%);
  font-size: 1.4rem;
}

.auth-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.auth-img {
  width: 15%;
  border: 1px solid #fff;
  border-radius: 50%;
}

.auth-text {
  color: hsl(215, 51%, 70%);
  font-size: 1.4rem;
}

.auth-span {
  color: #fff;
  font-size: 1.4rem;
}
